*
{
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}

html,
body
{
    height: 100%;
}

body
{
    top: 0;
    left: 0;
    font-family: "MullerMedium", sans-serif;
    font-size: 16px;
    color: #000;
}

h1
{
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.5px;
}

a, button
{
    cursor: pointer;
    text-decoration: none;
}

header,
.info
{
    justify-content: space-between;
}

header,
.info > .info-block > div,
.main-block
{
    display: grid;
}

header
{
    min-height: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

main
{
    padding: 166px 0 134px 0;
}

.info,
.video,
.info > .down > a,
.video > .video-btn > a,
.form,
.form-title,
.footer,
.form > form,
.form-footer,
.contacts-block,
.contacts-block > a,
.success
{
    display: flex;
}

.info,
.video,
.form,
.form > form,
.form-footer,
.footer,
.success
{
    flex-direction: column;
}

.info
{
    max-width: 550px;
    padding-left: 110px;
}

.info > .info-block > h2,
.info > .info-block > div > p,
.info > .down > a > p
{
    letter-spacing: -0.01px;
}

.info > .info-block > h2,
.video > .video-block p,
.contacts-block > div > h5,
.contacts-block > a > h5
{
    line-height: 143%;
}

.info > .info-block > h2,
.video > .video-btn > a > p,
.video > .video-block > a > p,
.contacts-block > div > h5,
.footer > h5,
.contacts-block > a > h5
{
    font-size: 21px;
}

.info > .info-block > h2
{
    max-width: 480px;
    padding: 27px 0 45px 0;
}

.info > .info-block > div,
.video,
.form,
.form-title,
.footer,
.contacts-block,
.success
{
    align-items: center;
}

.info > .info-block > div
{
    grid-template-columns: 1fr 1fr;
    column-gap: 31px;
}

.btn,
.info > .down > a > p
{
    line-height: 112%;
}

.btn,
.deadline,
.video > .video-block,
.form > h2,
.form-footer,
.footer > p,
.contacts-block > div,
.copyright > p,
.success
{
    text-align: center;
}

.btn,
.footer > .social > a > img
{
    background: #F9572E;
}

.btn
{
    box-shadow: 0 7px 15px rgba(249, 87, 46, 0.6);
    color: #fff;
    padding: 18px 0 15px 0;
    border-radius: 30px;
}

.btn:hover,
.footer > .social > a:hover > img
{
    background: #FF7B59;
}

.btn:hover
{
    box-shadow: 0 15px 20px rgba(249, 87, 46, 0.7);
}

.info > .info-block > div > p,
.team > p,
.projects > p,
.estimate > p,
.text-field,
.footer > p,
.form-footer,
.contacts-block > div > p,
.copyright > p
{
    color: #666;
}

.info > .info-block > div > p,
.main-block h4,
.slider-title > h4,
.form h4,
.form-title > h4,
.footer > p,
.copyright > p,
.contacts-block > div > p

{
    line-height: 150%;
}

.info > .down
{
    padding-bottom: 28px;
}

.info > .down > a,
.contacts-block
{
    flex-direction: row;
}

.info > .down > a
{
    column-gap: 13px;
}

.info > .down > a > p,
.video > .video-block p,
.video > .video-btn > a:hover > p,
.form-footer > a
{
    color: #F9572E;
}

.video
{
    background-image: url("../assets/video.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.video > .video-btn
{
    align-self: end;
    padding: 39px 89px 217px 0;
}

.contacts > img
{
    padding-right: 9px;
}

.contacts > p,
.info > .info-block > h2,
.info > .info-block > div > p,
.video > .video-block > a > p,
.team > p,
.projects > p,
.estimate > p,
.slide > p,
.form-title > h4,
.form > form > label > input,
.text-field,
.form-footer,
.footer
{
    font-family: "MullerRegular", sans-serif;
}

.contacts > p,
.contacts-block > a > h5
{
    color: #000;
}

.contacts > p
{
    line-height: 25px;
}


.video > .video-block p
{
    padding-top: 19px;
}

.main-block,
.slider-title
{
    max-width: 984px;
}

.main-block
{
    column-gap: 80px;
    grid-template-areas:
        "easy easy"
        "team projects"
        "estimate deadline";
}

.main-block h2,
.slider-title > h2,
.form > h2
{
    font-size: 40px;
    line-height: 125%;
}

.main-block h3,
.text-field
{
    line-height: 133%;
}

.main-block h3
{
    font-size: 24px;
}

.main-block h4,
.slider-title > h4,
.form h4,
.success
{
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.main-block h4,
.slider-title > h4
{
    padding-top: 8px;
    color: #33B5A3;
}

.slider-title
{
    padding-top: 184px;
}

.team,
.projects,
.estimate,
.deadline
{
    max-width: 450px;
}

.team,
.projects,
.estimate
{
    padding-top: 33px;
    border-top: 4px solid #63D2C1;
}

.team > p,
.projects > p,
.estimate > p
{
    line-height: 24px;
    padding-top: 12px;
}

.easy,
.team,
.projects,
.estimate,
.deadline {
    padding-bottom: 63px;
}

.team > h3,
.projects > h3,
.estimate > h3,
.deadline > p
{
    letter-spacing: -0.05px;
}

.easy
{
    grid-area: easy;
}

.team
{
    grid-area: team;
}

.projects
{
    grid-area: projects;
}

.estimate
{
    grid-area: estimate;
}

.deadline,
.form
{
    border: 4px solid #63D2C1;
}

.deadline
{
    grid-area: deadline;
    padding: 39px 90px 42px 90px;
}

.main-block h2,
.deadline > h3,
.contacts-block > div > h5,
.contacts-block > a > h5
{
    letter-spacing: -0.1px;
}

.deadline > p
{
    font-size: 64px;
    line-height: 94%;
}

.slider {
    position: relative;
    width: 100%;
    margin: 52px 0 138px 0;
    overflow: hidden;
}

.slider > .line
{
    position: relative;
    display: flex;
    left: 0;
    transition: all, ease 1s;
    /*column-gap: 70px;*/
}

.slide
{
    display: flex;
    float: left;
    column-gap: 18px;
}

.slide > p
{
    width: 144px;
    color: #666;
    font-size: 13px;
    line-height: 154%;
}

.controls > img
{
    position: absolute;
    bottom: 1%;
    cursor: pointer;
    z-index: 100;
}

.btn-prev,
.btn-next
{
    width: 21px;
    height: 43px;
}

.btn-prev:hover,
.btn-next:hover
{
    width: 19px;
    height: 39px;
}

.btn-prev
{
    right: 23%;
}

.btn-next
{
    right: 20%;
}

.form-footer > a
{
    line-height: 154%;
}

.form-footer
{
    font-size: 13px;
}


.form,
.form > h2,
.main-block,
.slider-title

{
    margin: 0 auto;
}

.form
{
    position: relative;
    max-width: 984px;
    padding: 20px 0 60px 0;
}

.form > h2
{
    position: absolute;
    display: inline-block;
    width: 700px;
    letter-spacing: -0.2px;
    background: #fff;
    top: -30px;
    left: 0;
    right: 0;
}

.form-title
{
    padding-top: 41px;
}

.form-title > h4
{
    max-width: 300px;
    padding-left: 21px;
}

form
{
    padding-top: 51px;
}

form input
{
    width: 500px;
    margin-bottom: 30px;
    padding: 19px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    outline:none;
}
.input-error
{
    border: 2px solid #FA9685;
}


.text-field
{
    font-size: 18px;
}

.text-field__input:focus
{
    border: 2px solid #FA9685;
}

.text-field__input:disabled,
.text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}

.text-field_floating-2 {
    position: relative;
}

.text-field_floating-2 .text-field__label {
    position: absolute;
    top: 35%;
    left: 2%;
    display: flex;
    transform: translateY(-50%);
    border: none;
    background-color: #fff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: top 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.text-field_floating-2 .text-field__input::-moz-placeholder {
    color: transparent;
}

.text-field_floating-2 .text-field__input::placeholder {
    color: transparent;
}

.text-field_floating-2 .text-field__input:focus~.text-field__label,
.text-field_floating-2 .text-field__input:not(:placeholder-shown)~.text-field__label {
    top: 0;
    transform: translateY(-50%) scale(0.75);
    color: #F9572E;
}

form > button
{
    width: 250px;
    align-self: center;
    margin: 18px 0 23px 0;
    border: none;
}

.form-footer > a
{
    padding-top: 5px;
}

.footer,
.copyright > p
{
    background: #F2F2F2;
}

.footer
{
    padding-top: 73px;
}

.footer > .social > a
{
    margin-right: 31px;
}

.footer > .social > a > img
{
    width: 20px;
    height: 20px;
    padding: 15px;
}

.footer > .social > a:hover > img
{
    cursor: pointer;
}

.footer > h5
{
    line-height: 124%;
    padding: 26px 0 5px 0;
    letter-spacing: -0.01px;
}

.footer > p
{
    width: 440px;
    margin: 0 auto;
    padding: 32px 0 29px 0;
}

.contacts-block
{
    margin-bottom: 72px;
}

.contacts-block > a > img
{
    padding-right: 10px;
}

.contacts-block > div
{
    padding: 0 97px 0 124px;
}

.contacts-block > div > p,
.copyright > p
{
    letter-spacing: -0.00761905px;
}

.contacts-block > a:nth-child(3) > h5
{
    border-bottom: 2px solid #F9572E;
}

.contacts-block > a:nth-child(3) > h5:hover
{
    color: #F9572E;
}

.copyright > p
{
    padding: 32px 0 29px 0;
    border-top: 1px solid #CCCCCC;
}

.success
 {
    width: 275px;
    padding-top: 188px;
 }

.success > p
{
    padding: 41px 0 154px 0;
    line-height: 150%;
}

.hide
{
    display: none;
}