*
{
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}

html,
body
{
    height: 100%;
}

body
{
    top: 0;
    left: 0;
    font-family: "MullerMedium", sans-serif;
    font-size: 16px;
    color: #000;
}

h1
{
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.5px;
}

a, button
{
    cursor: pointer;
    text-decoration: none;
}

.main,
.info
{
    justify-content: space-between;
}

.main,
.info > main > div,
.after-main-info
{
    display: grid;
}

.main
{
    min-height: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.info,
.video,
.info > footer > a,
.video > header > a,
.swiper-slide,
.form,
.form-header,
.footer,
.form > form,
.form-footer,
.contacts-block,
.contacts-block > a,
.success
{
    display: flex;
}

.info,
.video,
.form,
.form > form,
.form-footer,
.footer,
.success
{
    flex-direction: column;
}

.info
{
    max-width: 550px;
    padding-left: 110px;
}

.info > main > h2,
.info > main > div > p,
.info > footer > a > p
{
    letter-spacing: -0.01px;
}

.info > main > h2,
.video > main p,
.contacts-block > div > h5,
.contacts-block > a > h5
{
    line-height: 143%;
}

.info > main > h2,
.video > header > a > p,
.video > main > a > p,
.contacts-block > div > h5,
.footer > h5,
.contacts-block > a > h5
{
    font-size: 21px;
}

.info > main > h2
{
    max-width: 480px;
    padding: 27px 0 45px 0;
}

.info > main > div,
.video,
.form,
.form-header,
.footer,
.contacts-block,
.success
{
    align-items: center;
}

.info > main > div
{
    grid-template-columns: 1fr 1fr;
    column-gap: 31px;
}

.btn,
.info > footer > a > p
{
    line-height: 112%;
}

.btn,
.deadline,
.video > main,
.form > h2,
.form-footer,
.footer > p,
.contacts-block > div,
.copyright > p,
.success
{
    text-align: center;
}

.btn,
.footer > .social > a > img
{
    background: #F9572E;
}

.btn
{
    box-shadow: 0 7px 15px rgba(249, 87, 46, 0.6);
    color: #fff;
    padding: 18px 0 15px 0;
    border-radius: 30px;
}

.btn:hover,
.footer > .social > a:hover > img
{
    background: #FF7B59;
}

.btn:hover
{
    box-shadow: 0 15px 20px rgba(249, 87, 46, 0.7);
}

.info > main > div > p,
.team > p,
.projects > p,
.estimate > p,
.swiper-slide > p,
.footer > p,
.form-footer,
.contacts-block > div > p,
.copyright > p
{
    color: #666;
}

.info > main > div > p,
.after-main-info h4,
.slider-header > h4,
.form h4,
.form-header > h4,
.footer > p,
.copyright > p,
.contacts-block > div > p

{
    line-height: 150%;
}

.info > footer
{
    padding-bottom: 28px;
}

.info > footer > a,
.swiper-slide,
.contacts-block
{
    flex-direction: row;
}

.info > footer > a
{
    column-gap: 13px;
}

.info > footer > a > p,
.video > main p,
.video > header > a:hover > p,
.swiper-button-prev,
.swiper-button-next,
.form-footer > a
{
    color: #F9572E;
}

.video
{
    background-image: url("../assets/video.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.video > header
{
    align-self: end;
    padding: 39px 89px 217px 0;
}

.contacts > img
{
    padding-right: 9px;
}

.contacts > p,
.info > main > h2,
.info > main > div > p,
.video > main > a > p,
.team > p,
.projects > p,
.estimate > p,
.swiper-slide > p,
.form-header > h4,
.form > form > label > input,
.footer
{
    font-family: "MullerRegular", sans-serif;
}

.contacts > p,
.contacts-block > a > h5
{
    color: #000;
}

.contacts > p
{
    line-height: 25px;
}


.video > main p
{
    padding-top: 19px;
}

.after-main-info,
.slider-header
{
    max-width: 984px;
}

.after-main
{
    padding: 166px 0 184px 0;
}

.after-main-info
{
    column-gap: 80px;
    grid-template-areas:
        "easy easy"
        "team projects"
        "estimate deadline";
}

.after-main-info h2,
.slider-header > h2,
.form > h2
{
    font-size: 40px;
    line-height: 125%;
}

.after-main-info h3
{
    font-size: 24px;
    line-height: 133%;
}

.after-main-info h4,
.slider-header > h4,
.form h4,
.success
{
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.after-main-info h4,
.slider-header > h4
{
    color: #33B5A3;
}

.team,
.projects,
.estimate,
.deadline
{
    max-width: 450px;
}

.team,
.projects,
.estimate
{
    padding-top: 33px;
    border-top: 4px solid #63D2C1;
}

.team > p,
.projects > p,
.estimate > p
{
    line-height: 24px;
    padding-top: 12px;
}

.easy,
.team,
.projects,
.estimate,
.deadline {
    padding-bottom: 63px;
}

.team > h3,
.projects > h3,
.estimate > h3,
.deadline > p
{
    letter-spacing: -0.05px;
}

.easy
{
    grid-area: easy;
}

.team
{
    grid-area: team;
}

.projects
{
    grid-area: projects;
}

.estimate
{
    grid-area: estimate;
}

.deadline,
.form
{
    border: 4px solid #63D2C1;
}

.deadline
{
    grid-area: deadline;
    padding: 39px 90px 42px 90px;
}

.after-main-info h2,
.deadline > h3,
.contacts-block > div > h5,
.contacts-block > a > h5
{
    letter-spacing: -0.1px;
}

.deadline > p
{
    font-size: 64px;
    line-height: 94%;
}

.swiper
{
    width:100%;
    height: auto;
    padding: 52px 0 137px 0;
}

.swiper-button-prev,
.swiper-button-next
{
    top: 75%;
}

.swiper > .swiper-button-prev
{
    left: 70%;
}

.swiper-button-next
{
    right: 26%;
}

.swiper-slide
{
    max-width: 912px;
    justify-content: space-between;
    padding-right: 50px;
}

.swiper-slide > p,
.form-footer > a
{
    line-height: 154%;
}

.swiper-slide > p,
.form-footer
{
    font-size: 13px;
}

.swiper-slide > p
{
    max-width: 130px;
}

.form,
.form > h2,
.after-main-info,
.slider-header

{
    margin: 0 auto;
}

.form
{
    position: relative;
    max-width: 984px;
    padding: 20px 0 60px 0;
    margin-bottom: 134px;
}

.form > h2
{
    position: absolute;
    display: inline-block;
    width: 700px;
    letter-spacing: -0.2px;
    background: #fff;
    top: -30px;
    left: 0;
    right: 0;
}

.form-header
{
    padding-top: 41px;
}

.form-header > h4
{
    max-width: 300px;
    padding-left: 21px;
}

form
{
    padding-top: 51px;
}

.form > form input
{
    width: 500px;
    padding: 19px;
    margin-bottom: 30px;
}

form > button
{
    width: 250px;
    align-self: center;
    margin: 18px 0 23px 0;
    border: none;
}

.form-footer > a
{
    padding-top: 5px;
}

.footer,
.copyright > p
{
    background: #F2F2F2;
}

.footer
{
    padding-top: 73px;
}

.footer > .social > a
{
    margin-right: 31px;
}

.footer > .social > a > img
{
    width: 20px;
    height: 20px;
    padding: 15px;
}

.footer > .social > a:hover > img
{
    cursor: pointer;
}

.footer > h5
{
    line-height: 124%;
    padding: 26px 0 5px 0;
    letter-spacing: -0.01px;
}

.footer > p
{
    width: 440px;
    margin: 0 auto;
    padding: 32px 0 29px 0;
}

.contacts-block
{
    margin-bottom: 72px;
}

.contacts-block > a > img
{
    padding-right: 10px;
}

.contacts-block > div
{
    padding: 0 97px 0 124px;
}

.contacts-block > div > p,
.copyright > p
{
    letter-spacing: -0.00761905px;
}

.contacts-block > a:nth-child(3) > h5
{
    border-bottom: 2px solid #F9572E;
}

.copyright > p
{
    padding: 32px 0 29px 0;
    border-top: 1px solid #CCCCCC;
}

.success
 {
    width: 275px;
    padding-top: 188px;
 }

.success > p
{
    padding: 41px 0 154px 0;
    line-height: 150%;
}

.hide
{
    display: none;
}